<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../fontawesome-5.15.3/css/all.css">
  <link rel="stylesheet" href="../../css/estilo.css">
  <title>Gerência de Projetos</title>
</head>

<body>
  <header>
    <h2>Gerência de Projetos</h2>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">NewProjects</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projeto/list">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/funcionario/list">Funcionários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
      <div class="div-title">
          <h2>Projeto</h2>
      </div>

      <div th:if="${isSaved}" class="alert alert-success">
        <h4>Operação realizada com sucesso!</h4>         
      </div>

      <div th:if="${isError}" class="alert alert-danger">
        <h4>Erro ao tentar salvar os dados!</h4>
        <label th:text="#{errorMsg}"></label>
      </div>


      <form th:action="@{/projeto/save}"
      method="post" class="formulario"
      th:object="${projeto}">
        <div class="form-floating mb-3">
          <input type="number" th:field="${projeto.id}" readonly class="form-control" id="floatingInputId" placeholder="Código">
          <label for="floatingInputId">Código</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" th:field="${projeto.nome}" class="form-control" id="floatingInputNome" placeholder="Nome" required>
          <label for="floatingInputNome">Nome</label>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select" aria-label="Selecionar status"
                  th:field="${projeto.status}" required
                  id="floatingInputStatus"
          >
            <option value="Em Planejamento">Em Planejamento</option>
            <option value="Em Análise">Em Análise</option>
            <option value="Em Execução">Em Execução</option>
            <option value="Finalizado">Finalizado</option>
            <option value="Cancelado">Cancelado</option>
          </select>
          <label for="floatingInputStatus">Status</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" th:field="${projeto.dataInicial}" class="form-control" id="floatingInputDataInicial" placeholder="Data Inicial" required>
          <label for="floatingInputDataInicial">Data Inicial</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" th:field="${projeto.dataFinal}" class="form-control" id="floatingInputDataFinal" placeholder="Data Final" required>
          <label for="floatingInputDataFinal">Data Final</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" th:field="${projeto.orcamento}" class="form-control"
                 id="floatingInputOrcamento" placeholder="Orçamento" required>
          <label for="floatingInputOrcamento">Orçamento</label>
        </div>

        <div class="div-funcionarios">
          <label for="floatingInputFuncinarios">Lista de Funcionários</label>
          <select class="form-select" aria-label="Selecionar funcionáros"
                  th:field="${projeto.funcionarios}" required
                  id="floatingInputFuncinarios"
                  multiple
                  size="10"
          >
            <option th:each="fn : ${funcionarios}"
                    th:value=${fn.id}
                    th:text="${fn.nome}"
            ></option>
          </select>
        </div>

        <div class="form-floating mb-3">
          <button type="submit" class="btn btn-success" >Salvar</button>
          <button type="button" class="btn btn-secondary"
            onclick="window.location.href='../list'">
            Cancelar
        </button>
        </div>

      </form>
      
  </div>

  
  
  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="../../js/popper.min.js"></script>
  <script src="../../bootstrap-5.0.0/js/bootstrap.min.js"></script>
</body>

</html>